/*
*{box-sizing: border-box;}
body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 1.1em;
}
header{
	text-align: center;
	display: block;
	width: 100%;
	color: #333;
	background-color: #3399ff;
	margin: 0;
	padding: 1em;
}
ul{
	margin: 0;
	padding: 1em;
}
img{
	max-width: 100%;
}
div{
    padding-left: 2em;
    padding-right: 2em;
}
table, th, td {
    border: 1px solid black;
}